  .draggable,
  .static {
      width: 50px;
      height: 50px;
      border: 2px solid green;
      margin: 5px;
  }

  .draggable {
      background-color: orange;
  }

  .static {
      background-color: purple;
  }
